{{ define "main" }}
  {{/* Compute cover image path respecting baseURL */}}
  {{ $cover := printf "images/%s-cover.jpg" .File.BaseFileName | relURL }}
  <div class="style-header" style="background-image: url('{{ $cover }}');">
    <div class="style-header-overlay">
      <h1 class="style-title">{{ .Title }}</h1>
    </div>
  </div>

  <div class="style-content">
    {{ .Content }}

    {{ with .Params.gallery }}
      <div class="style-gallery">
        <div class="style-gallery-track">
          {{ range . }}
            <a href="{{ .link | relURL }}" target="_blank" rel="noopener">
              <img src="{{ printf "images/%s" .src | relURL }}" alt="{{ .alt }}">
            </a>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}