{{ define "main" }}
<section class="homepage-wrapper">

  <p class="project-description">
    This digital humanities project explores the development and use of Islamic calligraphy from the 7th to the 19th century
    across different regions and empires.
  </p>

  <div class="grid-container">
    {{ range .Site.Data.styles }}
      {{ $cover := printf "images/%s-cover.jpg" .slug }}
      <a
        href="{{ printf "/styles/%s" .slug | relURL }}"
        class="grid-box {{ .slug }}-box"
        style='background-image: url("{{ $cover | relURL }}");'
      >
        <div class="grid-overlay"></div>
        <span class="grid-label">{{ .name }}</span>
      </a>
    {{ end }}
  </div>
</section>
{{ end }}
